#circle {
  display: none;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background-size: cover;
  background-position: center 70%;
  background-image: url("campanile.jpg");
}
body {
  width: 100%;
  height: 100%;
  background: url(berkeley.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .menu {
  margin: 3px 0 12px 0px;
  width: 100%;
  text-align: center;
}
body .menu li {
  padding: 0px 30px 0px 30px;
  font-size: 14px;
  display: inline-block;
}
body .menu li a {
  text-decoration: none;
  color: #1896d5;
  cursor: pointer;
}
body .menu li a:hover {
  color: #1376a7;
}
body #container {
  position: absolute;
  display: block;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  min-width: 220px;
  min-height: 500px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body #container #title {
  text-align: center;
  font-size: 45px;
  font-weight: 100;
  line-height: 40px;
  height: 40px;
  margin-top: 30px;
}
body #container #about_me p {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: justify;
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
}
body #container #social {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
body #container #social li {
  padding: 10px;
  display: inline-block;
}
body #container #social .icons {
  -webkit-backface-visibility: hidden;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-size: 50px;
  background-repeat: no-repeat;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
body #container #social .icons:hover {
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  background-size: 50px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
body #container #social .twitter {
  background-image: url(noborder/twitter.png);
}
body #container #social .email {
  background-image: url(noborder/email.png);
}
body #container #social .google {
  background-image: url(noborder/googleplus-revised.png);
}
body #container #social .github {
  background-image: url(noborder/github.png);
}
body #container #social .facebook {
  background-image: url(noborder/facebook500.png);
}
body #container #social .linkedin {
  background-image: url(noborder/linkedin.png);
}
